.contact-us {
    background-color: #f5f5f5;
    padding: 50px;
    text-align: center;
  }
  
  .contact-us h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333333;
  }
  
  .contact-us h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333333;
  }
  
  .contact-us p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #666666;
  }
  
  .contact-us ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .contact-us li {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 10px;
    color: #666666;
  }
  
  .contact-us li:before {
    content: "\2022";
    color: #ff6600;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
  